In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/kangjuhyun/Desktop/Desktop/skinfosec/Final-project-main/eztravel/data_file/new_attraction.csv')
df

            name                    location          y           x area
0       스카이베이 경포              강원 강릉시 해안로 476  37.804263  128.907780   강원
1     썬크루즈리조트엔호텔       강원 강릉시 강동면 헌화로 950-39  37.684062  129.041905   강원
2           광안대교                  부산 수영구 남천동  35.144008  129.126807   부산
3      5.18 기념공원               광주 서구 내방로 152  35.158305  126.857556   광주
4          광화문광장             서울 종로구 세종로 1-68  37.572432  126.976902   서울
5         남산서울타워          서울 용산구 용산동2가 산 1-3  37.548943  126.989404   서울
6    엑스포과학공원 한빛탑             대전 유성구 대덕대로 480  36.376626  127.387199   대전
7         디아크문화관  대구 달성군 다사읍 강정본길 57 지하1층~3층  35.841164  128.465056   대구
8         롯데월드타워             서울 송파구 올림픽로 300  37.513752  127.104447   서울
9   하늘공원 메타세콰이어길           서울 마포구 상암동 482-49  37.566297  126.883421   서울
10           석굴암              경북 경주시 진현동 999  35.795046  129.350393   경북
11           안압지              경북 경주시 인왕동 517  35.834438  129.226437   경북
12          부산타워           부산 중구 대청로116번길 13  35.101819  129.032220   부산
13         소망우체통     울산 울주군 서생면 대송리 산 110-22  35.358767  129.361119   울산
14   롯데꿈동산 공중관람차     울산 남구 삼산로 288 롯데영플라자 7층  35.538923  129.338750   울산
15          울산대교              울산 남구 장생포로 411  35.509958  129.385147   울산
16          워터폴리       경북 포항시 남구 송도동 378-438  36.035300  129.380113   경북
17       인천차이나타운              인천 중구 북성동2가 14  37.476973  126.617613   인천
18         트라이보울           인천 연수구 인천타워대로 250  37.394114  126.635029   인천
19         자갈치시장             부산 중구 자갈치해안로 52  35.096614  129.030584   부산
20         독립기념관     충남 천안시 동남구 목천읍 독립기념관로 1  36.781872  127.230398   충남
21           첨성대           경북 경주시 인왕동 910-30  35.834723  129.219158   경북
22           호미곶          경북 포항시 남구 호미곶면 대보리  36.057873  129.561926   경북

In [ ]:
df = pd.DataFrame(columns=['area0','area1','area2','area3','area4','area5','area6','area7','area8','area9','id'])

In [ ]:
df

In [ ]:
test = [[0,1,2,3,4,5,6,7,8,9,'tt']]

In [ ]:
for i in test:
    df = df.append({
                'area0':i[0],
                'area1':i[1],
                'area2':i[2],
                'area3':i[3],
                'area4':i[4],
                'area5':i[5],
                'area6':i[6],
                'area7':i[7],
                'area8':i[8],
                'area9':i[9],
                'id':i[10],
             }, ignore_index=True)

In [ ]:
df = df.set_index('id')

# 위에꺼 보고 지역만 추가해서 밑에 새로 만들면 될듯...

In [102]:
b = [
    ['엑스포과학공원 한빛탑', '대전 유성구 대덕대로 480'], # 휴식
    ['갑천 해바라기 단지', '대전광역시 유성구 도룡동'], # 자연
    ['대동 하늘공원', '대전광역시 동구 자양동 20-9'], # 휴식
    ['금강로하스산호빛공원', '대전 대덕구 석봉동 522-4'], # 자연
    ['5.18 기념공원', '광주 서구 내방로 152'], # 역사
    ['청춘발산마을', '광주 서구 천변좌로 12-16'], # 휴식
    ['원효사', '광주 북구 무등로 1514-35'], # 종교
    ['펭귄마을', '광주 남구 천변좌로446번길 7'], # 휴식
    ['보성녹차밭', '전남 보성군 보성읍 녹차로 763-43'], # 자연
    ['여수오동도등대', '전남 여수시 수정동 1-7'], # 휴식
    ['율포해수욕장', '전남 보성군 회천면 율포리'], # 자연
    ['한국 차 박물관', '전남 보성군 보성읍 녹차로 775'], # 역사
    ['여수 이순신광장', '전남 여수시 중앙동 385-6'], # 역사
    ['여수 돌산공원', '전남 여수시 돌산읍 우두리 산1'], # 휴식
    ['여수 아쿠아플라넷', '전남 여수시 오동도로 61-11'], # 휴식
    ['전동성당', '전북 전주시 완산구 태조로 51'], # 종교
    ['전주수목원', '전북 전주시 덕진구 번영로 462-45'], # 자연
    ['전주오스갤러리', '전북 완주군 소양면 오도길 24'], # 역사
    ['전주 한옥마을', '전북 전주시 완산구 기린대로 99'], # 역사
    ['방주교회', '제주특별자치도 서귀포시 안덕면 상천리 427'], # 종교
    ['글라스하우스', '제주특별자치도 서귀포시 성산읍 고성리 46'], # 휴식
    ['성이시돌목장', '제주특별자치도 북제주군 한림읍 금악리'], # 자연
    ['대전 대흥동성당','대전광역시 중구 대흥동 대종로 471'], # 종교
    ['유림공원','대전광역시 유성구 봉명동 어은로 27'], # 자연
    ['셀로스터즈','대전광역시 유성구 장대동 271-28번지 1층'], # 휴식
    ['대동하늘공원','대전광역시 동구 자양동 20-9'], # 휴식
    ['대전예술의전당','대전 서구 둔산대로 135'], # 예술
    ['미카형 증기기관차 129호','대전광역시 유성구 현충원로 251'], # 역사
    ['광주광역시립미술관','광주광역시 북구 운암동 하서로 52'], # 예술
    ['월드컵경기장','광주광역시 풍암동'], # 휴식
    ['광주호 호수생태원','광주광역시 북구 석곡동 충효샘길 7'], # 휴식
    ['증심사','광주광역시 동구 학운동 증심사길 177'], # 종교
    ['양림동 역사문화마을','광주 남구 양림동 141'], # 역사
    ['광주향교','광주광역시 남구 사직동 중앙로107번길 5'], # 휴식
    ['죽녹원','전라남도 담양군 담양읍 죽녹원로 119'], # 휴식
    ['순천만국가정원','전라남도 순천시 국가정원1호길 162-11'], # 휴식
    ['낙안읍성 민속마을','전라남도 순천시 낙안면 동내리 401-1'], # 역사
    ['천주교전동성당','전라북도 전주시 완산구 전동 태조로 51'], # 종교
    ['내소사','전라북도 부안군 진서면 내소사로 243'], # 종교
    ['익산 미륵사지','전라북도 익산시 금마면 기양리 97'], # 종교
    ['초원사진관','전라북도 군산시 신창동 구영2길 12-1'], # 휴식
    ['대한불교조계종 선운사','전라북도 고창군 아산면 선운사로 250'], # 종교
    ['덕진공원','전라북도 전주시 덕진구 덕진동1가 권삼득로 390'], # 휴식
    ['제주러브랜드','제주특별자치도 제주시 연동 1100로 2894-72'], # 휴식
    ['에코랜드','제주특별자치도 제주시 조천읍 번영로 1278-169'], # 휴식
    ['헬로키티아일랜드','제주특별자치도 서귀포시 안덕면 한창로 340'], # 휴식
    ['소인국 테마파크','제주특별자치도 서귀포시 안덕면 중산간서로 1878'], # 휴식
    ['메이즈랜드','제주특별자치도 제주시 구좌읍 비자림로 2134-47'], # 휴식
    ['제주레일바이크','제주특별자치도 제주시 구좌읍 종달리 4639'], # 휴식
    ['믿거나말거나박물관','제주특별자치도 서귀포시 색달동 2864-2'] # 역사
]

In [103]:
df = pd.DataFrame(b, columns=['name', 'location'])

In [104]:
df.to_csv('add_photozone.csv', index=False)

In [3]:
import pandas as pd
import numpy as np

In [4]:
# 지역정보 : 대전 광주 전남 전북 제주
area = {
        '대전':['엑스포과학공원 한빛탑', '갑천 해바라기 단지', '대동 하늘공원', '금강로하스산호빛공원', '대전 대흥동성당', '유림공원', '셀로스터즈', '대동하늘공원', '대전예술의전당', '미카형 증기기관차 129호'], # 5번째부터 추가
        '광주':['5.18 기념공원', '청춘발산마을', '원효사', '펭귄마을', '광주광역시립미술관', '월드컵경기장', '광주호 호수생태원', '증심사', '양림동 문화역사마을', '광주향교'], # 5번째부터 추가
        '전남':['보성녹차밭', '여수오동도등대', '율포해수욕장', '한국 차 박물관', '여수 이순신광장', '여수 돌산공원', '여수 아쿠아플라넷', '죽녹원', '순천만국가정원', '낙안읍성 민속마을'], # 8번째부터 추가
        '전북':['전동성당', '전주수목원', '전주오스갤러리', '전주 한옥마을', '천주교전동성당', '내소사', '익산 미륵사지', '초원사진관', '대한불교조계종 선운사', '덕진공원'], # 5번째부터 추가
        '제주':['방주교회', '글라스하우스', '성이시돌목장', '제주러브랜드', '에코랜드', '헬로키티아일랜드', '소인국 테마파크', '메이즈랜드', '제주레일바이크', '믿거나말거나박물관'], # 4번째부터 추가
       }

# 지역에 대한 df 생성
area_df = [] # 생성된 df
area_df_name = [] # df 이름

for name in area.keys():
    # columns name
    columns = area[name]
    columns.append('id')
    
    # dataframe name
    globals()['df_{}'.format(name)] = pd.DataFrame(columns=columns)

    
    for idx in range(0, 200):# user count
    
        # random point
        rand_point = []
        for i in range(0, 10):
            rand_point.append(np.random.randint(0, 6))

        # dataframe values에 랜덤 값 넣기 -------------- 가까운 애들끼리 좀 높은 점수 가지면 좋을듯??
        globals()['df_{}'.format(name)] = globals()['df_{}'.format(name)].append({
                                                                                    area[name][0]:rand_point[0],
                                                                                    area[name][1]:rand_point[1],
                                                                                    area[name][2]:rand_point[2],
                                                                                    area[name][3]:rand_point[3],
                                                                                    area[name][4]:rand_point[4],
                                                                                    area[name][5]:rand_point[5],
                                                                                    area[name][6]:rand_point[6],
                                                                                    area[name][7]:rand_point[7],
                                                                                    area[name][8]:rand_point[8],
                                                                                    area[name][9]:rand_point[9],
                                                                                    'id':'user{}'.format(idx),
                                                                                 }, ignore_index=True)
    globals()['df_{}'.format(name)] = globals()['df_{}'.format(name)].set_index('id')
    area_df.append(globals()['df_{}'.format(name)])
    area_df_name.append('df_{}'.format(name))

Index(['엑스포과학공원 한빛탑', '갑천 해바라기 단지', '대동 하늘공원', '금강로하스산호빛공원', '대전 대흥동성당',
       '유림공원', '셀로스터즈', '대동하늘공원', '대전예술의전당', '미카형 증기기관차 129호'],
      dtype='object')

In [10]:
for i, df_ in enumerate(area_df):
    print(df_)
    df_.T.to_csv('{}.csv'.format(area_df_name[i]))

        엑스포과학공원 한빛탑 갑천 해바라기 단지 대동 하늘공원 금강로하스산호빛공원 대전 대흥동성당 유림공원 셀로스터즈 대동하늘공원  \
id
user0             4          5       3          5        3    3     3      1
user1             0          5       5          3        3    3     2      3
user2             0          1       1          4        4    4     1      3
user3             1          5       3          3        5    4     0      0
user4             1          5       2          2        5    5     3      2
...             ...        ...     ...        ...      ...  ...   ...    ...
user195           0          4       5          0        1    1     1      2
user196           5          2       4          1        4    3     2      5
user197           0          3       0          0        1    1     1      2
user198           4          2       0          3        3    0     2      0
user199           5          0       2          4        0    1     5      0

        대전예술의전당 미카형 증기기관차 129호
id
user0         3              5
user1         1              5
user2         0              4
user3         4              4
user4         3              2
...         ...            ...
user195       5              4
user196       4              2
user197       3              2
user198       1              4
user199       5              1

[200 rows x 10 columns]
        5.18 기념공원 청춘발산마을 원효사 펭귄마을 광주광역시립미술관 월드컵경기장 광주호 호수생태원 증심사 양림동 문화역사마을  \
id
user0           2      0   5    0         2      3         0   3          4
user1           2      5   5    5         4      1         2   3          5
user2           4      2   4    2         0      5         4   4          0
user3           4      0   2    3         0      4         4   0          1
user4           1      0   3    4         0      3         1   3          4
...           ...    ...  ..  ...       ...    ...       ...  ..        ...
user195         5      1   3    0         3      1         1   4          1
user196         1      0   0    2         5      2         1   3          5
user197         5      0   5    1         3      4         5   4          4
user198         5      2   2    5         5      4         4   0          1
user199         3      0   2    4         4      3         1   2          5

        광주향교
id
user0      3
user1      0
user2      1
user3      5
user4      1
...      ...
user195    3
user196    5
user197    1
user198    1
user199    5

[200 rows x 10 columns]
        보성녹차밭 여수오동도등대 율포해수욕장 한국 차 박물관 여수 이순신광장 여수 돌산공원 여수 아쿠아플라넷 죽녹원 순천만국가정원  \
id
user0       4       3      3        5        3       5         5   0       1
user1       1       1      4        4        4       1         4   5       1
user2       3       1      3        3        3       0         0   0       2
user3       5       4      3        2        3       0         5   4       4
user4       4       4      5        4        1       5         5   2       1
...       ...     ...    ...      ...      ...     ...       ...  ..     ...
user195     0       0      3        5        5       4         0   2       1
user196     3       4      3        0        5       0         5   0       3
user197     3       0      2        2        5       2         0   5       0
user198     0       0      2        3        0       0         4   1       2
user199     0       4      4        2        5       1         5   4       4

        낙안읍성 민속마을
id
user0           5
user1           2
user2           1
user3           3
user4           1
...           ...
user195         2
user196         0
user197         1
user198         1
user199         0

[200 rows x 10 columns]
        전동성당 전주수목원 전주오스갤러리 전주 한옥마을 천주교전동성당 내소사 익산 미륵사지 초원사진관 대한불교조계종 선운사 덕진공원
id
user0      4     3       2       4       4   4       2     2           2    4
user1      5     0       2       3       5   4       0     2           3    3
user2      3     1       1       0       0   5       3     1           0    0
user3      0     3       4       4       3   5       3     2           3    0
user4      4     4       5       1       4   5       1     3           1    2
...      ...   ...     ...     ...     ...  ..     ...   ...         ...  ...
user195    0     0       3       3       3   5       1     3           2    4
user196    4     1       3       0       5   5       3     2           2    0
user197    2     3       2       2       4   4       5     0           2    3
user198    1     0       0       5       0   0       4     2           5    5
user199    3     5       2       4       4   3       1     4           1    5

[200 rows x 10 columns]
        방주교회 글라스하우스 성이시돌목장 제주러브랜드 에코랜드 헬로키티아일랜드 소인국 테마파크 메이즈랜드 제주레일바이크  \
id
user0      0      0      2      1    2        1        3     2       5
user1      3      1      1      4    3        4        2     3       3
user2      4      0      1      3    1        3        3     5       1
user3      0      4      5      4    5        5        0     2       3
user4      2      3      2      4    3        5        5     5       4
...      ...    ...    ...    ...  ...      ...      ...   ...     ...
user195    5      4      2      5    3        3        0     3       2
user196    5      3      0      3    3        4        5     5       3
user197    3      1      2      4    5        3        0     3       0
user198    0      0      4      3    2        2        5     4       5
user199    1      4      2      3    1        0        1     3       1

        믿거나말거나박물관
id
user0           4
user1           5
user2           4
user3           1
user4           1
...           ...
user195         1
user196         0
user197         2
user198         4
user199         3

[200 rows x 10 columns]

# 코사인 유사도

In [27]:
from numpy import dot
from numpy.linalg import norm

In [28]:
def cos_sim(A, B):
    return dot(A, B)/(norm(A)*norm(B))

In [29]:
print('기존 경로:', df_대전.iloc[0:1].values.tolist()[0])
print('비교 경로:', df_대전.iloc[1:2].values.tolist()[0])
print('내 여행지 경로와 유사도:', cos_sim(df_대전.iloc[0:1].values.tolist()[0], df_대전.iloc[1:2].values.tolist()[0]))

기존 경로: [5, 1, 1, 0, 5, 0, 4, 1, 5, 5]
비교 경로: [2, 1, 2, 0, 4, 2, 1, 3, 3, 1]
내 여행지 경로와 유사도: 0.7857415688813241

In [30]:
len(df_대전.index)

200

myRoute = []
similar = []
for i in range(len(df_대전.index)):
    print('내 여행지 경로와 유사도', cos_sim( ,))

# 머신러닝

from scipy.spatial.distance import cosine

print(cosine(a, b)) # 코사인 거리
print(1 - cosine(a, b)) # 코사인 유사도 / 밑의 함수 방법과 동일한 결과가 나온다.

# from sklearn.metrics.pairwise import cosine_similarity 과 동일
import numpy as np

def cosine_similarity(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * (np.linalg.norm(b)))

In [31]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
# from sklearn.model_selection import train_test_split

In [32]:
cosine_similarity(df_대전.iloc[:,0:10])

array([[1.        , 0.78574157, 0.68206597, ..., 0.49648625, 0.69959427,
        0.5093094 ],
       [0.78574157, 1.        , 0.64699664, ..., 0.72096445, 0.56270396,
        0.74877488],
       [0.68206597, 0.64699664, 1.        , ..., 0.47783869, 0.71675803,
        0.63302098],
       ...,
       [0.49648625, 0.72096445, 0.47783869, ..., 1.        , 0.60606061,
        0.6967887 ],
       [0.69959427, 0.56270396, 0.71675803, ..., 0.60606061, 1.        ,
        0.56775375],
       [0.5093094 , 0.74877488, 0.63302098, ..., 0.6967887 , 0.56775375,
        1.        ]])

## 여기까지의 문제!!

이것은 여행지 간의 비교가 아니라 사용자 간의 유사도를 구한 것이다.

즉, 10개의 입력 값을 넣어줘야 다른 사용자들과 유사도를 구하는 것이다.

우리는 선정된 하나의 명소를 입력됐을 때, 그 명소와 다른 장소들간의 만족도를 구하고 싶었던 것이다.

In [33]:
attraction = '엑스포과학공원 한빛탑'

In [34]:
new_df_대전 = df_대전.T
new_df_대전

id,user0,user1,user2,user3,user4,user5,user6,user7,user8,user9,...,user190,user191,user192,user193,user194,user195,user196,user197,user198,user199
엑스포과학공원 한빛탑,5,2,5,5,2,2,2,4,5,5,...,2,3,2,5,1,1,1,2,3,2
갑천 해바라기 단지,1,1,0,2,0,4,5,2,5,5,...,4,3,1,5,4,0,5,4,4,0
대동 하늘공원,1,2,2,0,1,5,0,2,0,2,...,5,3,0,1,0,0,5,4,1,5
금강로하스산호빛공원,0,0,5,1,1,0,0,3,5,2,...,3,1,2,1,5,0,2,0,2,2
대전 대흥동성당,5,4,3,5,1,5,4,5,2,4,...,3,2,0,3,2,5,4,2,1,0
유림공원,0,2,3,4,5,0,0,0,1,3,...,5,3,4,4,5,4,5,1,3,4
궁동 오데오 거리,4,1,3,2,2,2,1,5,4,2,...,1,4,5,3,3,3,4,3,3,2
대동하늘공원,1,3,0,0,2,1,4,4,4,5,...,0,4,5,2,2,1,4,4,0,5
대흥동 문화예술의거리,5,3,2,2,5,4,3,4,0,2,...,3,1,0,0,5,4,3,0,1,3
미카형 증기기관차 129호,5,1,1,2,2,4,3,0,1,0,...,3,3,0,0,1,3,0,0,4,2

In [35]:
similarity = cosine_similarity(new_df_대전)
similar_df = pd.DataFrame(similarity, columns=new_df_대전.index, index=new_df_대전.index)

import seaborn as sns

sns.heatmap(similarity, xticklabels=new_df_대전.index, yticklabels=new_df_대전.index)

In [36]:
similar_df[attraction].sort_values(ascending=False)

엑스포과학공원 한빛탑       1.000000
궁동 오데오 거리         0.719559
대전 대흥동성당          0.712826
금강로하스산호빛공원        0.704441
대흥동 문화예술의거리       0.702572
대동하늘공원            0.679276
갑천 해바라기 단지        0.674580
미카형 증기기관차 129호    0.674420
유림공원              0.656843
대동 하늘공원           0.630681
Name: 엑스포과학공원 한빛탑, dtype: float64

In [45]:
location_df = pd.DataFrame(columns=['name', 'location'])
location_df.to_csv('여기에 넣어주세요.csv', index=False)

# -----------------------------------------------------

In [121]:
import pandas as pd
import numpy as np

In [122]:
# 대전, 광주, 전남, 전북, 제주
대전 = pd.read_csv('대전.csv').T
광주 = pd.read_csv('광주.csv').T
전남 = pd.read_csv('전남.csv').T
전북 = pd.read_csv('전북.csv').T
제주 = pd.read_csv('제주.csv').T

In [123]:
df = pd.read_csv('rcmd.csv')

In [124]:
for i in 제주.iloc[0].tolist():
    print(df[df['name'] == i].values.tolist()[0][1].split(' ')[1])

서귀포시
서귀포시
북제주군
제주시
제주시
서귀포시
서귀포시
제주시
제주시
서귀포시

In [125]:
# [유성구,유성구,서구,대덕구,중구,유성구,유성구,동구,서구,유성구]
eowjs =[[4,5,1,2,0,4,5,2,3,5],
[5,3,0,1,0,5,5,1,2,5],
[3,4,0,1,0,4,5,0,1,5],
[5,5,1,2,0,4,5,1,1,5],
[4,5,0,2,0,4,5,0,0,3],
[4,5,0,2,0,4,5,2,3,5],
[4,4,0,1,0,5,5,1,1,5],
[5,4,0,0,0,4,5,0,0,5],
[4,5,1,2,0,4,5,1,2,5],
[5,5,0,0,1,4,5,1,0,1],
[4,5,1,2,1,4,5,2,0,5],
[5,3,0,1,0,5,5,1,2,5],
[3,4,0,1,0,4,5,0,1,5],
[4,5,1,0,0,4,5,1,1,5],
[4,5,0,2,0,4,5,0,0,3],
[4,5,1,2,0,4,5,2,3,5],
[5,4,0,1,0,4,4,1,2,5],
[5,4,0,1,0,4,4,0,1,5],
[5,5,1,2,0,5,5,1,0,5],
[5,5,0,2,0,4,5,0,0,4],
[0,0,5,0,0,0,2,0,5,2],
[0,1,5,0,1,0,0,0,5,0],
[0,2,5,0,1,0,4,0,5,0],
[0,1,5,0,0,1,0,0,5,2],
[0,4,5,0,0,1,0,1,5,0],
[0,4,5,0,0,0,0,0,5,4],
[0,1,5,0,0,1,0,0,5,0],
[0,0,5,0,0,3,0,0,5,2],
[1,1,5,0,4,0,0,0,5,0],
[0,2,5,2,0,0,1,0,5,0],
[0,1,5,5,0,0,0,0,5,2],
[0,4,5,0,5,0,0,0,5,0],
[0,4,5,0,0,0,0,1,5,4],
[0,1,5,0,0,1,0,0,5,0],
[0,0,5,0,0,0,2,0,5,2],
[0,1,5,0,1,0,0,0,5,0],
[0,2,5,0,1,0,4,0,5,0],
[0,1,5,0,0,1,0,0,5,2],
[0,4,5,0,0,1,0,1,5,0],
[0,4,5,0,0,0,0,0,5,4],
[0,1,5,0,0,1,0,0,5,0],
[0,0,5,0,0,3,0,0,5,2],
[1,1,5,0,4,0,0,0,5,0],
[0,2,5,2,0,0,1,0,5,0],
[0,1,5,5,0,0,0,0,5,2],
[0,4,5,0,5,0,0,0,5,0],
[0,4,5,0,0,0,0,1,5,4],
[0,1,5,0,0,1,0,0,5,0],
[0,0,5,0,0,0,2,0,5,2],
[0,1,5,0,1,0,0,0,5,0],
[0,2,5,0,1,0,4,0,5,0],
[0,1,5,0,0,1,0,0,5,2],
[0,4,5,0,0,1,0,1,5,0],
[0,4,5,0,0,0,0,0,5,4],
[0,1,5,0,0,1,0,0,5,0],
[0,0,5,0,0,3,0,0,5,2],
[1,1,5,0,4,0,0,0,5,0],
[0,2,5,2,0,0,1,0,5,0],
[0,1,5,5,0,0,0,0,5,2],
[0,4,5,0,5,0,0,0,5,0],
[0,4,5,0,0,0,0,1,5,4],
[0,1,5,0,0,1,0,0,5,0]]

In [126]:
대전.iloc[1:63] = eowjs

In [127]:
# [북구,서구,북구,남구,북구,풍암동,북구,동구,남구,남구]

rhkdwn = [[5,0,5,2,5,1,5,1,0,0],
[4,1,4,0,4,0,4,0,1,0],
[5,0,5,1,5,0,5,0,0,0],
[5,1,5,1,5,0,5,0,0,1],
[5,0,5,0,5,0,5,1,0,0],
[5,0,5,1,5,1,5,0,1,0],
[5,2,5,0,5,1,5,0,0,0],
[4,0,5,0,4,1,4,0,0,0],
[5,0,5,1,5,0,5,0,0,0],
[5,1,5,0,5,0,5,1,0,1],
[5,0,5,1,5,1,5,0,1,0],
[5,1,5,0,5,1,5,2,0,0],
[4,1,5,1,5,0,5,0,0,1],
[5,0,4,0,4,1,5,2,1,1],
[5,0,5,2,5,0,5,0,2,0],
[5,0,5,2,5,1,4,1,0,0],
[5,1,5,0,5,0,5,0,1,0],
[5,0,5,1,5,0,5,0,0,0],
[5,1,5,1,5,0,5,0,0,1],
[4,0,5,0,5,0,5,1,0,0],
[5,0,5,1,4,1,5,0,1,0],
[5,2,5,0,4,1,5,0,0,0],
[5,0,5,0,4,1,5,0,0,0],
[5,0,5,1,5,0,5,0,0,0],
[5,1,4,0,4,0,4,1,0,1],
[5,0,5,1,5,1,5,0,1,0],
[4,1,5,0,5,1,5,2,0,0],
[5,1,5,1,5,0,5,0,0,1],
[5,0,4,0,5,1,5,2,1,1],
[5,0,5,2,5,0,5,0,2,0],
[4,0,5,2,5,1,5,1,0,0],
[5,1,5,0,5,0,5,0,1,0],
[5,0,5,1,5,0,5,0,0,0],
[4,1,5,1,4,0,5,0,0,1],
[4,0,4,0,4,0,4,1,0,0],
[5,0,5,1,5,1,5,0,1,0],
[5,2,5,0,5,1,5,0,0,0],
[5,0,5,0,5,1,5,0,0,0],
[4,0,5,1,5,0,4,0,0,0],
[5,1,4,0,5,0,5,1,0,1],
[4,0,5,1,5,1,5,0,1,0],
[4,1,5,0,5,1,5,2,0,0],
[5,1,5,1,5,0,5,0,0,1],
[5,0,5,0,5,1,5,2,1,1],
[5,0,5,2,5,0,5,0,2,0],
[1,5,2,2,1,5,1,0,1,1],
[2,5,0,2,0,5,0,0,0,1],
[1,4,0,1,0,5,0,1,0,0],
[1,5,0,0,0,5,0,1,0,0],
[0,5,2,0,1,4,0,0,1,1],
[2,5,0,2,0,5,1,1,0,0],
[0,4,0,0,0,5,0,0,2,0],
[0,5,0,0,0,5,0,1,2,0],
[0,5,2,0,1,5,0,0,0,1],
[0,5,0,2,0,4,0,0,0,0],
[0,5,0,0,0,5,1,1,0,0],
[0,5,0,2,0,5,0,0,0,0],
[1,5,2,0,0,5,1,0,1,0],
[0,5,0,0,1,4,0,0,0,0],
[0,5,0,0,0,5,1,1,1,0],
[0,4,2,1,0,5,1,0,0,0],
[0,5,0,0,0,5,0,0,2,0],
[0,5,1,0,0,5,0,1,0,0],
[0,5,1,0,1,5,0,1,0,0],
[0,4,2,0,0,5,1,1,0,0],
[2,5,0,0,0,4,1,0,0,1],
[0,5,0,0,0,5,0,0,0,0],
[1,4,0,2,0,5,1,0,0,0],
[2,5,1,0,0,5,0,0,1,0],
[0,5,0,0,1,4,1,0,0,0],
[1,5,0,0,0,5,0,0,0,0],
[0,4,0,2,0,5,1,0,0,2],
[2,5,0,0,0,5,0,0,2,0],
[1,5,1,0,0,5,0,1,3,0],
[0,5,0,0,1,5,1,1,1,0],
[2,4,0,1,0,5,0,0,0,0],
[0,5,0,2,1,5,0,0,1,0],
[0,4,0,0,0,5,0,0,0,2],
[2,4,0,2,1,5,1,1,1,0],
[0,5,0,2,0,4,0,1,0,0],
[0,1,0,5,0,5,2,1,5,5],
[2,1,2,5,1,5,2,0,5,5],
[0,1,0,5,0,5,0,1,4,5],
[2,0,0,5,1,5,2,0,5,5],
[0,0,0,5,0,5,2,0,5,5],
[0,1,1,5,0,5,0,1,5,5],
[1,1,0,5,1,5,2,0,4,5],
[0,1,0,5,0,5,0,1,5,5],
[0,2,1,5,1,5,2,0,5,5],
[1,1,0,5,1,5,0,0,5,5],
[0,2,1,5,0,5,0,1,4,5],
[0,2,1,5,1,5,1,0,5,5],
[0,2,0,5,0,5,0,1,5,5],
[1,0,0,1,1,0,1,5,0,1],
[1,1,1,0,1,0,0,5,1,0],
[2,1,0,1,0,0,1,4,0,0],
[0,1,0,1,0,0,0,5,1,1],
[2,1,1,0,1,0,0,5,0,0],
[1,0,0,1,0,1,0,4,1,1],
[0,1,1,0,0,1,0,5,1,0],
[1,0,0,0,0,1,2,5,0,1],
[0,1,0,1,0,0,0,5,1,2],
[0,0,1,1,0,1,0,4,0,1]]

In [128]:
광주.iloc[1:104] = rhkdwn

In [129]:
# [보성군,여수시,보성군,보성군,여수시,여수시,여수시,담양군,순천시,담양군]
wjsska = [[5,1,5,5,2,1,1,0,2,1],
[4,0,5,5,0,0,0,1,0,1],
[4,1,5,5,0,1,0,0,0,1],
[5,0,5,5,0,2,0,1,1,0],
[5,0,5,4,2,2,0,0,0,0],
[5,1,5,5,1,0,0,2,0,0],
[4,1,5,5,0,1,0,0,0,0],
[5,1,5,4,0,1,0,1,0,0],
[5,0,5,5,1,2,0,0,0,0],
[5,0,5,5,0,0,0,0,0,0],
[5,1,5,5,1,1,0,1,0,0],
[4,0,5,4,0,0,0,0,2,0],
[5,1,5,5,1,2,1,1,0,1],
[5,0,5,5,1,0,0,0,1,0],
[5,0,5,5,0,1,1,0,0,0],
[5,1,5,5,0,0,1,1,0,0],
[4,0,5,5,0,1,0,1,0,0],
[5,1,5,5,1,0,0,1,1,0],
[4,0,5,5,0,1,0,1,1,2],
[5,2,5,5,2,0,0,1,2,0],
[5,0,5,4,0,2,0,2,0,1],
[4,2,5,5,0,2,0,0,0,0],
[5,0,5,5,1,2,0,1,0,0],
[5,2,5,4,0,1,0,0,1,1],
[0,5,0,0,5,5,5,0,1,2],
[1,5,1,1,5,5,5,0,0,1],
[0,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,1],
[0,5,0,0,5,5,5,0,0,1],
[1,5,1,0,5,5,5,0,1,0],
[0,5,0,0,5,5,5,1,0,1],
[0,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,1],
[2,5,0,0,5,5,5,0,2,0],
[2,5,0,0,5,5,5,0,1,2],
[0,5,1,0,5,5,5,1,0,0],
[0,5,0,0,5,5,5,0,1,1],
[0,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,0],
[3,5,1,0,5,5,5,1,1,0],
[0,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,2],
[0,5,1,0,5,5,5,0,1,0],
[1,5,0,0,5,5,5,3,0,0],
[0,5,0,0,5,5,5,0,0,0],
[1,5,1,0,5,5,5,0,0,3],
[1,5,0,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,2,0,0],
[0,5,2,0,5,5,5,0,0,0],
[0,5,0,0,5,5,5,0,0,1],
[1,5,0,0,5,5,5,0,0,0],
[1,5,2,0,5,5,5,1,1,0],
[0,5,0,0,5,5,5,0,0,1],
[1,0,1,2,1,0,1,5,0,5],
[1,0,0,1,1,0,1,5,1,5],
[1,0,1,1,1,0,1,5,0,4],
[1,0,1,0,0,0,1,5,0,5],
[1,2,0,1,0,0,2,4,2,5],
[1,0,0,0,0,0,0,5,0,5],
[1,0,0,1,0,0,0,4,0,5],
[1,0,2,0,0,0,2,4,0,5],
[1,0,0,2,0,0,0,5,2,5],
[1,0,0,0,1,0,2,5,0,5],
[1,1,0,0,0,0,0,5,0,5],
[0,0,0,0,2,0,0,5,2,5],
[1,0,3,0,0,0,1,5,0,5],
[1,2,0,0,0,0,0,4,0,5],
[1,0,0,0,1,0,0,4,2,5],
[1,0,0,0,0,0,0,4,0,4],
[0,0,0,0,1,0,1,5,0,4],
[1,1,3,0,0,0,0,5,0,5],
[0,0,0,0,2,0,0,5,1,5],
[0,0,0,0,0,0,1,5,0,5],
[1,2,0,0,1,0,0,5,1,5],
[0,0,0,0,0,0,0,4,0,5],
[1,0,3,0,1,0,2,5,1,4],
[0,0,0,0,0,0,0,5,0,5],
[0,2,0,0,1,0,2,5,1,5],
[1,0,2,0,0,0,1,5,1,4],
[0,0,0,0,1,0,0,5,1,5],
[0,0,0,0,0,0,1,5,1,5],
[0,0,1,0,0,0,0,4,0,5],
[0,0,0,1,2,0,1,5,0,5],
[1,0,0,0,0,2,2,0,5,0],
[1,0,0,0,2,0,0,1,5,1],
[1,0,0,0,1,2,0,2,4,1],
[1,0,0,0,1,0,0,0,5,1],
[1,0,0,2,0,1,0,2,5,2],
[1,0,0,1,0,0,0,0,5,2],
[1,1,0,1,0,1,0,1,5,0],
[1,1,0,1,0,0,1,0,5,1],
[1,1,0,1,0,0,0,1,5,1],
[1,1,1,0,1,0,0,0,4,0],
[1,1,1,0,2,0,3,2,5,0],
[0,1,1,2,0,0,0,0,5,0],
[0,1,0,2,0,0,0,0,5,0],
[0,1,1,0,1,0,1,0,5,0],
[1,0,1,0,1,0,0,1,4,0],
[0,0,1,0,2,0,0,0,5,1],
[0,0,0,0,1,0,0,0,5,0],
[1,0,1,1,0,0,1,0,5,0],
[1,0,1,1,0,0,2,1,4,0],
[1,0,1,2,1,2,1,0,5,0],
[0,0,0,0,1,0,1,1,5,1]]

In [130]:
전남.iloc[1:106] = wjsska

In [131]:
# [전주시,전주시,완주군,전주시,전주시,부안군,익산시,군산시,고창군,전주시] 전주랑 완주   익산이랑 군산    고창이랑 부안
wjsqnr = [[4,5,5,5,5,1,3,1,0,5],
[4,5,5,4,5,0,1,2,0,5],
[4,5,4,5,5,0,0,1,2,5],
[4,5,5,5,5,0,0,0,1,5],
[4,4,5,5,5,1,1,0,2,5],
[5,5,4,5,4,0,1,2,0,4],
[5,5,5,5,5,0,0,1,1,5],
[5,5,5,5,5,1,2,1,1,5],
[5,5,5,5,5,1,1,2,0,5],
[5,5,5,5,5,0,1,1,2,5],
[4,5,4,5,4,1,0,1,2,5],
[5,5,5,5,5,1,0,1,1,5],
[5,4,5,5,5,1,2,2,0,5],
[5,5,5,5,5,0,1,0,2,4],
[5,5,4,5,5,0,0,1,0,5],
[5,5,5,4,5,0,0,0,1,5],
[5,5,5,5,5,1,2,0,0,5],
[4,5,5,5,5,0,1,1,0,5],
[5,5,5,5,5,0,0,1,1,5],
[4,5,5,5,5,1,0,2,1,5],
[5,5,5,5,5,1,1,3,0,5],
[5,5,5,5,5,0,1,1,1,5],
[4,5,5,4,5,1,0,1,1,5],
[5,5,5,4,5,1,0,3,1,5],
[5,4,5,5,5,1,0,0,0,5],
[5,5,5,4,5,0,1,0,0,5],
[5,5,5,4,5,0,0,1,0,5],
[5,4,5,5,5,0,2,2,1,5],
[4,5,5,5,5,1,3,1,1,4],
[5,5,5,5,5,0,1,1,0,5],
[5,5,5,5,5,0,0,1,1,4],
[5,4,5,5,5,1,1,2,2,5],
[5,5,5,4,5,1,1,1,0,5],
[5,5,5,5,5,0,1,1,1,5],
[4,4,5,4,4,1,0,2,1,5],
[5,5,5,4,5,1,0,3,1,5],
[5,5,4,4,5,0,1,2,0,4],
[5,4,5,5,5,0,0,2,1,5],
[5,5,5,5,5,1,0,2,1,5],
[5,5,5,4,5,1,1,2,0,5],
[4,5,5,5,5,0,1,1,1,5],
[5,4,5,5,5,1,2,1,1,4],
[5,5,5,5,5,1,2,1,1,5],
[5,5,5,5,5,1,2,0,0,5],
[4,5,5,4,5,0,2,0,0,5],
[5,5,5,5,5,0,2,1,0,5],
[5,5,5,5,5,2,0,0,1,5],
[5,5,5,5,5,2,1,0,0,5],
[5,4,5,4,4,2,1,1,0,5],
[4,5,5,5,5,2,0,1,1,5],
[5,5,5,5,5,1,3,0,1,5],
[5,5,5,5,5,1,3,1,0,5],
[5,5,5,5,5,0,3,1,1,5],
[4,5,5,5,5,1,0,1,1,5],
[5,5,5,4,5,1,0,1,1,5],
[1,0,0,1,0,0,4,5,1,0],
[1,2,1,0,0,1,5,5,0,1],
[2,0,2,1,0,0,5,4,0,1],
[1,1,0,1,0,0,5,5,2,0],
[1,0,1,0,1,0,5,4,0,2],
[1,0,2,1,0,0,5,5,1,0],
[2,2,1,0,0,1,5,4,0,1],
[1,0,0,1,0,0,5,5,2,1],
[1,1,0,1,0,0,5,4,1,0],
[1,1,2,0,1,0,5,5,0,2],
[2,0,0,1,0,0,5,5,1,0],
[1,0,1,0,0,1,5,5,0,1],
[1,0,0,1,0,0,4,5,2,1],
[1,2,2,1,0,0,5,5,1,0],
[1,0,2,0,1,0,5,4,0,2],
[2,0,0,1,0,0,5,5,1,0],
[1,0,1,0,0,1,5,5,2,1],
[1,0,3,1,0,0,5,5,2,1],
[1,1,2,1,0,0,5,4,1,0],
[1,0,1,0,1,0,5,5,0,2],
[1,0,0,1,0,0,5,5,2,0],
[1,0,1,0,0,1,5,5,0,1],
[2,0,3,1,0,0,4,5,0,1],
[1,1,2,1,0,3,5,5,2,0],
[1,0,1,0,1,0,5,5,0,2],
[1,0,1,2,0,4,0,1,5,2],
[0,1,2,2,0,5,1,1,4,1],
[0,0,1,1,0,5,0,1,5,0],
[0,0,0,1,0,5,1,0,5,1],
[0,2,2,0,1,4,1,0,5,0],
[1,1,0,1,1,5,0,1,5,1],
[0,1,2,0,0,5,1,1,5,0],
[0,0,1,1,0,5,0,1,5,0],
[0,0,0,1,1,5,0,1,5,0],
[1,0,1,0,1,4,1,0,5,2],
[1,0,0,0,0,5,1,0,5,0],
[0,2,0,0,0,5,1,1,4,2],
[0,0,1,0,0,4,0,1,5,0],
[0,0,0,1,0,5,1,1,5,0],
[0,0,0,0,1,5,1,1,5,1],
[1,1,0,0,0,4,1,0,5,0],
[0,2,1,0,0,5,0,1,5,0],
[0,0,1,1,0,5,0,0,4,1],
[0,0,0,1,1,5,1,0,5,0],
[2,0,1,0,1,5,0,1,5,0],
[1,0,0,2,0,5,1,1,5,0],
[1,1,0,1,1,5,1,0,5,2],
[0,2,1,0,1,4,0,2,5,0],
[3,0,0,1,2,5,2,1,5,1],
[0,0,0,0,1,5,0,1,4,2],
[1,1,0,0,0,5,0,0,5,0],
[0,1,1,0,0,5,0,2,5,2],
[1,0,1,1,0,4,0,2,5,0],
[0,3,0,1,1,5,0,2,5,1],
[1,0,1,0,1,5,1,0,4,2]
]

In [132]:
전북.iloc[1:111] = wjsqnr

In [133]:
# [서귀포시,서귀포시,북제주군,제주시,제주시,서귀포시,서귀포시,제주시,제주시,서귀포시]
wpwn = [[5,5,0,1,1,4,5,0,1,5],
[4,5,0,0,0,5,5,0,0,4],
[5,5,0,2,1,5,5,1,1,5],
[5,5,0,0,0,5,5,0,0,5],
[5,5,1,1,0,5,5,0,0,5],
[5,5,2,1,0,5,5,0,2,5],
[5,5,2,0,2,4,5,0,0,5],
[5,4,1,0,0,5,5,0,1,5],
[5,5,1,1,0,5,5,0,0,5],
[5,5,1,0,0,4,4,1,1,5],
[5,5,1,0,0,5,5,1,0,5],
[5,5,0,0,1,5,5,2,2,5],
[5,5,0,0,1,5,5,0,0,4],
[5,5,0,0,0,5,5,0,0,5],
[4,4,1,0,0,5,5,0,1,5],
[5,5,2,1,1,5,5,1,0,4],
[5,5,2,0,0,5,5,0,0,5],
[5,5,1,1,0,5,4,0,1,5],
[5,5,2,0,0,4,5,1,0,5],
[5,5,0,0,0,5,4,0,0,5],
[5,5,1,0,1,5,5,0,3,5],
[5,5,0,0,0,5,5,0,0,5],
[5,5,0,1,0,5,5,0,0,5],
[5,5,0,0,1,5,5,0,0,4],
[5,4,1,0,1,5,5,1,1,4],
[5,5,0,0,0,5,4,0,1,5],
[4,5,1,1,2,5,5,0,1,5],
[5,5,1,0,0,5,5,3,1,5],
[4,5,1,0,0,4,5,0,1,5],
[5,5,0,1,1,5,5,1,0,5],
[5,5,1,0,0,5,4,0,0,5],
[5,5,0,0,0,5,5,0,2,5],
[5,5,1,0,0,5,5,0,0,4],
[5,5,1,1,1,5,5,1,0,5],
[4,5,0,0,0,5,5,0,0,5],
[5,5,0,0,2,5,4,0,2,5],
[5,4,2,0,0,5,5,0,0,4],
[5,5,2,1,1,4,5,1,0,5],
[5,5,2,0,0,5,5,0,2,5],
[5,4,0,1,0,5,5,0,1,4],
[1,0,5,5,5,0,0,5,5,0],
[0,1,5,5,5,1,0,5,5,0],
[1,0,5,5,5,0,1,5,5,1],
[0,0,5,5,5,1,0,5,5,1],
[0,0,5,5,5,0,0,5,5,0],
[0,0,5,5,5,0,0,5,5,1],
[0,0,5,5,5,1,0,5,5,1],
[0,0,5,5,5,1,1,5,5,1],
[0,1,5,5,5,0,0,5,5,0],
[0,1,5,5,5,0,1,5,5,0],
[0,1,5,5,5,0,0,5,5,0],
[1,1,5,5,5,0,1,5,5,1],
[0,0,5,5,5,1,0,5,5,2],
[0,0,5,5,5,0,0,5,5,2],
[1,0,5,5,5,0,0,5,5,1],
[1,0,5,5,5,0,0,5,5,2],
[0,1,5,5,5,0,0,5,5,0],
[0,0,5,5,5,1,0,5,5,0],
[1,0,5,5,5,0,0,5,5,1],
[0,1,5,5,5,0,0,5,5,1],
[1,1,5,5,5,1,1,5,5,2],
[0,0,5,5,5,0,1,5,5,1],
[0,0,5,5,5,0,1,5,5,0],
[1,1,5,5,5,0,1,5,5,0],
[0,0,5,5,5,2,1,5,5,0],
[0,0,5,5,5,0,0,5,5,0],
[1,0,5,5,5,2,0,5,5,1],
[0,0,5,5,5,0,0,5,5,0],
[0,1,5,5,5,0,2,5,5,0],
[0,0,5,5,5,0,0,5,5,0],
[1,0,5,5,5,0,2,5,5,2],
[0,0,5,5,5,1,2,5,5,1],
[0,0,5,5,5,1,1,5,5,1],
[0,0,5,5,5,0,2,5,5,1],
[1,0,5,5,5,1,1,5,5,0],
[0,1,5,5,5,0,0,5,5,2],
[0,0,5,5,5,0,1,5,5,0],
[0,2,5,5,5,1,0,5,5,1],
[1,2,5,5,5,0,1,5,5,1],
[1,2,5,5,5,1,0,5,5,1],
[0,2,5,5,5,0,0,5,5,0],
[0,0,5,5,5,0,0,5,5,2],
[0,3,5,5,5,1,0,5,5,1],
[0,3,5,5,5,0,0,5,5,1],
[5,5,0,1,1,4,5,0,1,5],
[4,5,0,0,0,5,5,0,1,4],
[5,5,0,2,1,5,5,1,1,5],
[5,5,0,0,0,5,5,0,0,5],
[5,5,1,1,0,5,5,0,2,5],
[5,4,2,1,0,5,5,1,2,5],
[5,5,2,0,2,4,5,2,0,5],
[5,4,1,0,0,5,5,0,1,5],
[5,4,1,1,0,5,5,1,0,5],
[5,5,0,1,0,5,5,3,1,5],
[5,5,1,1,0,5,4,1,0,4],
[5,4,0,2,1,5,5,0,1,5],
[5,5,1,0,1,4,5,0,1,4],
[5,5,1,0,1,5,5,1,1,5],
[4,4,1,0,0,4,5,0,1,5],
[5,5,0,1,1,5,4,0,0,4],
[5,5,0,1,0,3,5,0,0,4],
[5,3,1,1,0,5,4,0,1,5],
[4,5,0,0,0,4,5,1,1,5],
[4,5,0,1,0,5,4,0,0,5],
[5,5,1,0,2,5,5,0,5,5],
[5,5,0,1,0,5,5,0,0,4],
[5,4,0,1,0,5,5,0,0,5],
[5,4,0,0,1,5,5,0,0,4],
[5,5,2,0,0,5,5,1,1,4],
[3,5,0,0,0,5,4,0,1,3],
[5,5,1,1,0,5,5,0,1,5],
[5,5,1,0,0,4,5,0,1,5],
[5,3,0,0,0,4,3,0,0,4],
[5,5,0,1,1,5,5,1,0,5],
[5,3,1,0,0,5,4,0,0,3],
[5,5,0,0,0,3,5,0,2,5],
[3,5,0,0,0,3,5,0,0,4],
[5,5,1,1,1,5,5,1,0,5],
[4,5,1,1,0,5,3,0,0,5],
[5,5,0,0,2,5,4,0,0,5],
[3,4,1,0,0,5,5,0,0,3],
[5,5,1,0,1,4,5,1,0,5],
[4,5,1,0,0,5,5,0,2,5],
[5,4,0,1,0,3,5,0,1,4],
[1,0,5,5,5,0,0,4,5,0],
[0,1,5,5,5,1,2,5,5,0],
[1,0,5,4,5,0,1,5,4,1],
[0,2,5,4,5,1,0,5,5,1],
[0,1,5,3,5,0,0,5,5,0],
[0,2,5,5,5,0,0,5,5,1],
[0,0,3,5,5,1,0,5,3,1],
[0,0,5,4,5,1,1,5,4,1],
[0,2,5,5,5,0,0,5,5,0],
[1,0,5,4,5,0,1,5,5,0],
[1,1,5,5,5,0,0,5,5,0]]

In [134]:
제주.iloc[1:136] = wpwn

In [152]:
df1=대전.T
df2=광주.T
df3=전남.T
df4=전북.T
df5=제주.T

In [153]:
df1.to_csv('대전.csv', index=False)
df2.to_csv('광주.csv', index=False)
df3.to_csv('전남.csv', index=False)
df4.to_csv('전북.csv', index=False)
df5.to_csv('제주.csv', index=False)

In [151]:
df3

,Unnamed: 0,user0,user1,user2,user3,user4,user5,user6,user7,user8,...,user190,user191,user192,user193,user194,user195,user196,user197,user198,user199
0,보성녹차밭,5,4,4,5,5,5,4,5,5,...,3,5,3,5,0,0,3,3,0,0
1,여수오동도등대,1,0,1,0,0,1,1,1,0,...,5,1,4,5,1,0,4,0,0,4
2,율포해수욕장,5,5,5,5,5,5,5,5,5,...,2,0,5,4,0,3,3,2,2,4
3,한국 차 박물관,5,5,5,5,4,5,5,4,5,...,0,2,0,5,4,5,0,2,3,2
4,여수 이순신광장,2,0,0,0,2,1,0,0,1,...,4,1,2,2,0,5,5,5,0,5
5,여수 돌산공원,1,0,1,2,2,0,1,1,2,...,4,3,5,2,3,4,0,2,0,1
6,여수 아쿠아플라넷,1,0,0,0,0,0,0,0,0,...,3,1,3,5,4,0,5,0,4,5
7,죽녹원,0,1,0,1,0,2,0,1,0,...,5,2,1,4,3,2,0,5,1,4
8,순천만국가정원,2,0,0,1,0,0,0,0,0,...,3,3,2,4,2,1,3,0,2,4
9,메타세콰이아가로수길,1,1,1,0,0,0,0,0,0,...,2,2,3,0,1,2,0,1,1,0